.napoleon {
  display: flex;
  justify-content: center;
  position: relative;
}

.napoleon-alternative {
  width: 181px;
  height: 278px;
}

.animal-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.animal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

ul {
  list-style: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin-top: 70px; /* Removes default margin */
}

.animal-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

.food-animation {
  position: absolute;
  width: 50px; /* Adjust size */
  height: 50px;
  animation: moveFood 1s linear forwards;
  right: 50%;
  top: 70%;
  /* transform: translate(-50%, -50%);
  transition: transform 1s linear, opacity 0.5s ease-in-out;
  z-index: 10;
  transition: left 1s ease, top 1s ease;
  pointer-events: none; */
  /* *ngIf="showFoodAnimation" */
}

.thanks-animation {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: green;
  animation: fadeOut 1s linear forwards;
  transform: translateY(-20px);
}

@keyframes moveFood {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 100px); /* Adjust based on UI */
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
