<main class="main">
  <div class="content">
    <div class="napoleon">
      <img
        *ngIf="!showHappyImage && !isSecondImageVisible"
        src="napoleon-default.jpg"
        alt="napoleon-default"
        (click)="toggleImage()"
      />
      <img
        *ngIf="!showHappyImage && isSecondImageVisible"
        src="napoleon-alternative.jpg"
        alt="napoleon-alternative"
        class="napoleon-alternative"
        (click)="toggleImage()"
      />

      <img
        *ngIf="showHappyImage"
        src="napoleon-happy.jpg"
        alt="napoleon-happy"
        class="napoleon-happy"
        class="napoleon-alternative"
      />

      <img
        *ngIf="showFoodAnimation"
        [src]="foodImage"
        alt="food"
        class="food-animation"
      />
      <button mat-raised-button color="accent" (click)="toggleMusic()">
        {{ isPlaying ? "Stop Music " : "Play Music " }}&#9834;
      </button>
    </div>
    <ul class="animal-container">
      <li *ngFor="let animal of animals" class="animal-card">
        <img src="{{ animal.url }}" alt="animal_image" class="animal-img" />
        <div class="container">
          <strong>{{ animal.name }}</strong>
          <p>{{ animal.thanks }}</p>
        </div>
        <!-- <button mat-button>საკვების დაყრა</button> -->
        <button mat-raised-button color="primary" (click)="feedAnimal(animal)">
          საკვების დაყრა
        </button>

        <!-- Thanks text animation -->
        <span *ngIf="showThanksText === animal.id" class="thanks-animation"
          >+1 Thanks</span
        >
      </li>
    </ul>
  </div>
</main>

<router-outlet />
